mozilla/
thunderbird/
ssh/
config/JetBrains/
config/Thunar/
config/autostart/
config/chromium/
config/dconf/
config/mimeapps.list
config/pulse/
config/xfce4/
vim/.netrwhist
Xdefaults
emacs
gitconfig
gitignore
jnewsrc
msmtprc
muttrc
signature
slrnrc
vimrc
.gitmodules
vim/
